.projects .title {
  color: var(--text--color);
}
.portfolio-buttons {
  display: flex;
  justify-content: center;

  margin-bottom: 34px;
}

.projects-cards-title p {
  color: var(--primary--text--color);
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.projects-cards {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.projects-card-wrap {
  position: relative;
  overflow: hidden;
}
.projects-card-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 64px 24px;

  top: 0;
  left: 0;
  transform: translateY(110%);
  transition: transform 250ms var(--time--animation);

  color: var(--text--color--white);
  background: rgba(33, 150, 243, 0.9);

  .projects-focus:hover &,
  .projects-focus:focus & {
    transform: translateY(0);
  }
}
.projects-focus {
  display: block;

  transition: box-shadow 250ms var(--time--animation);

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-cards-title {
  padding: 20px 24px;

  border-bottom: 1px Solid #eeeeee;
  border-right: 1px Solid #eeeeee;
  border-left: 1px Solid #eeeeee;
}
.projects-cards-title .title {
  margin-bottom: 4px;
}
.projects .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.description {
  font-size: 16px;
  line-height: 1.88;
}
.button-menu:not(:last-child) {
  margin-right: 8px;
}
